@model Umbraco.Course.Models.SearchModel

<p>You searched for <strong>@Model.Query</strong></p>

<!-- check for search results-->
@if (Model.SearchResults != null)
{
    <p>
        <strong>
            @Model.SearchResults.Count()
            @(Model.SearchResults.Count() == 1 ? "result" : "results").
        </strong>
    </p>
    <div id="stream">
        @foreach (var result in Model.SearchResults)
        {
            <div>
                <h4><a href="/stream#status@(result.Id)">@result.Name</a></h4>
                <br/>
                @(Html.Raw(result.GetPropertyValue<string>("bodyText")))
            </div>
        }
    </div>
}